 @import '~/node_modules/bootstrap/scss/bootstrap.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    background-color: $main;
  }
  img{
    height: 100%;

  }
 

   /* scrollbar */
   ::-webkit-scrollbar {
    width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #000000; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49); 
    }